article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
    display: block
}

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden] {
    display: none
}

html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

html,
button,
input,
select,
textarea {
    font-family: sans-serif
}

body {
    margin: 0
}

a:focus {
    outline: thin dotted
}

a:active,
a:hover {
    outline: 0
}

h1 {
    font-size: 2em;
    margin: 0.67em 0
}

h2 {
    font-size: 1.5em;
    margin: 0.83em 0
}

h3 {
    font-size: 1.17em;
    margin: 1em 0
}

h4 {
    font-size: 1em;
    margin: 1.33em 0
}

h5 {
    font-size: 0.83em;
    margin: 1.67em 0;
}

h6 {
    font-size: 0.75em;
    margin: 2.33em 0
}

abbr[title] {
    border-bottom: 1px dotted
}

b,
strong {
    font-weight: bold
}

blockquote {
    margin: 1em 40px
}

dfn {
    font-style: italic
}

mark {
    background: #ff0;
    color: #000
}

p,
pre {
    margin: 1em 0
}

code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    _font-family: 'courier new', monospace;
    font-size: 1em
}

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word
}

q {
    quotes: none
}

q:before,
q:after {
    content: '';
    content: none
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -0.5em
}

sub {
    bottom: -0.25em
}

dl,
menu,
ol,
ul {
    margin: 1em 0
}

dd {
    margin: 0 0 0 40px
}

menu,
ol,
ul {
    padding: 0 0 0 40px
}

nav ul,
nav ol {
    list-style: none;
    list-style-image: none
}

nav>ul,
nav>ol {
    padding-left: 0
}

img {
    border: 0;
    -ms-interpolation-mode: bicubic
}

svg:not(:root) {
    overflow: hidden
}

figure {
    margin: 0
}

form {
    margin: 0
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em
}

legend {
    border: 0;
    padding: 0;
    white-space: normal;
    *margin-left: -7px
}

button,
input,
select,
textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
    *vertical-align: middle
}

button,
input {
    line-height: normal
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
    *overflow: visible
}

button[disabled],
input[disabled] {
    cursor: default
}

input[type="checkbox"],
input[type="radio"] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    *height: 13px;
    *width: 13px
}

input[type="search"] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    box-sizing: content-box
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0
}

textarea {
    overflow: auto;
    vertical-align: top
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

hr {
    border-bottom: 0
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

html,
body {
    min-height: 100vh
}

html {
    font-size: 150%;
    overflow-y: scroll
}

html,
button,
input,
select,
textarea {
    color: #4c3d6d;
    font-family: "Roboto Mono", monospace;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* font-smooth: antialiased */
}

body {
    background: url(../images/fleck-white.png), url(../images/bg.svg), #ffba93;
    background-size: auto, 100vw 100vw, auto;
    background-repeat: repeat, no-repeat, repeat;
    background-position: center center, top right, center;
    font-size: 1em;
    line-height: 1.5;
    padding: 1.3333333333rem
}

@media all and (min-width: 40em) {
    body {
        background-size: auto, 100% 100%, auto
    }
}

@media all and (min-width: 45em) {
    body {
        padding: 2.6666666667rem
    }
}

@media all and (min-width: 45em) {

    .curriculum-vitae:before,
    .resume:before {
        background: url(../images/fleck-white.png), linear-gradient(-45deg, #e2718d 25%, transparent 25%, transparent 75%, #71e2a6 75%, #71e2a6) 0 0, linear-gradient(-45deg, #71e2a6 25%, transparent 25%, transparent 75%, #e2718d 75%, #e2718d) 1em 1em, linear-gradient(45deg, #71e2a6 17%, transparent 17%, transparent 25%, #71e2a6 25%, #71e2a6 36%, transparent 36%, transparent 64%, #71e2a6 64%, #71e2a6 75%, transparent 75%, transparent 83%, #71e2a6 83%) 1em 1em;
        background-color: #e2718d;
        background-size: auto, 2em 2em, 2em 2em, 2em 2em;
        content: "";
        position: absolute;
        left: 4em;
        top: 0;
        width: 4em;
        height: 100%
    }

    .curriculum-vitae:after,
    .resume:after {
        background: url(../images/fleck-white.png), linear-gradient(-45deg, #e2718d 25%, transparent 25%, transparent 75%, #4c3d6d 75%, #4c3d6d) 0 0, linear-gradient(-45deg, #4c3d6d 25%, transparent 25%, transparent 75%, #e2718d 75%, #e2718d) 1em 1em, linear-gradient(45deg, #4c3d6d 17%, transparent 17%, transparent 25%, #4c3d6d 25%, #4c3d6d 36%, transparent 36%, transparent 64%, #4c3d6d 64%, #4c3d6d 75%, transparent 75%, transparent 83%, #4c3d6d 83%) 1em 1em;
        background-color: #e2718d;
        background-size: auto, 2em 2em, 2em 2em, 2em 2em;
        content: "";
        position: absolute;
        left: 0;
        top: 4em;
        width: 100%;
        height: 4em
    }

    .curriculum-vitae .wrapper,
    .resume .wrapper {
        position: relative;
        z-index: 1
    }
}

.touch {
    background: #ebebeb;
    -webkit-box-shadow: 8px 0 #ffffff inset, -8px 0 #ffffff inset;
    box-shadow: 8px 0 #ffffff inset, -8px 0 #ffffff inset;
    padding: 0 16px
}

h1 {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 2rem;
    font-weight: 900;
    letter-spacing: -0.0416666667rem;
    line-height: 1;
    margin: 0 0 0.6666666667rem;
    padding-top: 0.6666666667rem
}

h2 {
    font-size: 0.6666666667rem;
    font-weight: normal;
    margin: 0.6666666667rem 0 0.3333333333rem
}

.subtitle {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1.5rem;
    font-weight: 800;
    letter-spacing: -0.0416666667rem;
    line-height: 1;
    margin: 0 0 2.6666666667rem;
    padding-top: 2rem
}

p {
    font-size: 0.6666666667rem;
    margin: 0.6666666667rem 0 0
}

@media all and (min-width: 45em) {
    h1 {
        font-size: 3rem;
        letter-spacing: -0.0833333333rem
    }

    h2,
    p {
        font-size: 0.8333333333rem
    }

    .subtitle {
        font-size: 2rem
    }
}

@media all and (min-width: 60em) {

    h2{
        font-size: 1rem
    }
}

@media all and (min-width: 64em) {
    h1 {
        font-size: 3.5rem;
        letter-spacing: -0.125rem
    }

    .subtitle {
        font-size: 2.5rem;
        letter-spacing: -0.0833333333rem
    }
}

@media all and (min-width: 73.75em) {
    h1 {
        font-size: 3.8rem
    }

    .subtitle {
        font-size: 3rem
    }
}

a {
    color: #ffffff;
    text-decoration: none;
    -webkit-transition: .3s;
    transition: .3s
}


a:hover,
a:focus,
a:active {
    color: #ffffff;
    outline: none
}



.text-link {
    color: #4c3d6d;
    display: inline-block;
    position: relative;
    text-decoration: none;
    -webkit-transition: .3s;
    transition: .3s
}

.text-link:before,
.text-link:after {
    bottom: 5%;
    content: '';
    position: absolute;
    top: 5%;
    -webkit-transition: .3s;
    transition: .3s;
    width: 47%;
    z-index: -1
}

.text-link:before {
    background: #71e2a6;
    left: 5%;
    -webkit-transform: translateY(4px);
    transform: translateY(4px)
}

.text-link:after {
    background: #e9b921;
    left: 49%;
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px)
}

.text-link:hover,
.text-link:focus {
    color: #ffffff;
    outline: none
}

.text-link:hover:before,
.text-link:focus:before {
    background: #4c3d6d;
    -webkit-transform: translateY(0);
    transform: translateY(0)
}

.text-link:hover:after,
.text-link:focus:after {
    background: #4c3d6d;
    -webkit-transform: translateY(0);
    transform: translateY(0)
}

.text-link:active {
    color: #ffffff;
    outline: none;
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s
}

.text-link:active:before,
.text-link:active:after {
    width: 35%
}

.text-link:active:before {
    left: 15%
}

.text-link-dark {
    color: #ffffff
}

.text-link-dark:before {
    background: #4c3d6d
}

.text-link-dark:after {
    background: #71e2a6
}

.text-link-dark:hover,
.text-link-dark:focus {
    color: #4c3d6d
}

.text-link-dark:hover:before,
.text-link-dark:focus:before {
    background: #e9b921;
    -webkit-transform: translateY(0);
    transform: translateY(0)
}

.text-link-dark:hover:after,
.text-link-dark:focus:after {
    background: #e9b921;
    -webkit-transform: translateY(0);
    transform: translateY(0)
}

.text-link-dark:active {
    color: #4c3d6d
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: calc(100vh - 2.6666666667rem)
}

@media all and (min-width: 45em) {
    .wrapper {
        min-height: calc(100vh - 5.3333333333rem)
    }
}

.grid-wrap {
    -ms-grid-row-align: center;
    align-self: center;
    margin: 0 auto;
    max-width: 1040px;
    width: 100%
}

.grid {
    width: 100%
}

@media all and (min-width: 45em) {
    .grid {
        padding: 0 0.6466666667rem
    }
}

.grid__col {
    display: block;
    width: 100%
}

.m-top-grid{
    margin: 2% 0;
}

@media all and (min-width: 40em) {
    .grid__col--half {
        display: inline-block;
        padding-right: 0.3133333333rem;
        vertical-align: top;
        width: 49%
    }

    .grid__col--half+.grid__col--half {
        padding-left: 0.3133333333rem;
        padding-right: 0
    }
}

@media all and (min-width: 40em) {
    .grid__col--one-third {
        display: inline-block;
        vertical-align: middle;
        width: 31.3333333333%
    }
}

@media all and (min-width: 40em) {
    .grid__col--two-thirds {
        display: inline-block;
        padding-right: 0.6466666667rem;
        vertical-align: middle;
        width: 64.6666666667%
    }
}

@media all and (min-width: 40em) {

    .grid--top .grid__col--one-third,
    .grid--top .grid__col--two-thirds {
        vertical-align: top
    }
}

@media all and (min-width: 40em) {
    .grid--top .grid__col--one-third+.grid__col--two-thirds {
        padding-left: 0.6666666667rem;
        padding-right: 0
    }
}

.align-right {
    text-align: right
}

.logo {
    background: url(../images/polygon.svg);
    background-size: cover;
    display: flex;
    height: 3.6666666667rem;
    justify-content: center;
    width: 3.6666666667rem
}

.logo__image {
    -ms-grid-row-align: center;
    align-self: center;
    height: 2.6666666667rem;
    width: 2.6666666667rem
}

@media all and (min-width: 40em) {
    .logo {
        height: 7.3333333333rem;
        width: 7.3333333333rem
    }

    .logo__image {
        height: 5.3333333333rem;
        width: 5.3333333333rem
    }
}

.button-wrap {
    bottom: 0.4166666667rem;
    left: 0.4166666667rem;
    position: fixed;
    right: 0.4166666667rem;
    z-index: 11
}

@media all and (min-width: 45em) {
    .button-wrap {
        bottom: auto;
        display: inline-block;
        font-size: 0.8333333333rem;
        left: auto;
        position: relative
    }
}

@media all and (min-width: 60em) {
    .button-wrap {
        font-size: 1rem
    }
}

.button-sheen {
    overflow: hidden;
    position: relative;
    -webkit-transition: .3s;
    transition: .3s;
    z-index: 1
}

.button-sheen:before,
.button-sheen:after {
    background: #ffffff;
    content: '';
    height: 60%;
    left: 45%;
    opacity: 0.4;
    position: absolute;
    top: -60%;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 0.1666666667rem;
    z-index: 2
}

.button-sheen:after {
    left: 50%
}

.button-sheen:hover:before,
.button-sheen:hover:after,
.button-sheen:focus:before,
.button-sheen:focus:after {
    -webkit-transition: all .5s;
    transition: all .5s;
    -webkit-transform: rotate(45deg) translateY(400%);
    transform: rotate(45deg) translateY(400%)
}

.button-sheen:hover:after,
.button-sheen:focus:after {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s
}

.button-sheen:active {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s
}

.button {
    background: linear-gradient(135deg, #4c3d6d 0%, #e2718d 50%, #4c3d6d 100%);
    background-size: 200% 100%;
    -webkit-clip-path: polygon(8px 0%, calc(100% - 8px) 0%, 100% 8px, 100% calc(100% - 8px), calc(100% - 8px) 100%, 8px 100%, 0% calc(100% - 8px), 0% 8px);
    clip-path: polygon(8px 0%, calc(100% - 8px) 0%, 100% 8px, 100% calc(100% - 8px), calc(100% - 8px) 100%, 8px 100%, 0% calc(100% - 8px), 0% 8px);
    display: block;
    font-size: 0.8333333333rem;
    padding: 0.1666666667rem;
    position: relative;
    text-transform: uppercase;
    -webkit-transition: .3s;
    transition: .3s;
    width: 100%;
    z-index: 1
}

.button:hover,
.button:focus {
    background-position: 100%
}

@media all and (min-width: 45em) {
    .button {
        display: block;
        width: auto
    }
}

.button__inner {
    background: linear-gradient(135deg, #e2718d 0%, #e2718d 8%, #e9b921 50%, #e2718d 100%);
    background-repeat: repeat;
    background-size: 200% 100%;
    -webkit-clip-path: polygon(6px 0%, calc(100% - 6px) 0%, 100% 6px, 100% calc(100% - 6px), calc(100% - 6px) 100%, 6px 100%, 0% calc(100% - 6px), 0% 6px);
    clip-path: polygon(6px 0%, calc(100% - 6px) 0%, 100% 6px, 100% calc(100% - 6px), calc(100% - 6px) 100%, 6px 100%, 0% calc(100% - 6px), 0% 6px);
    display: block;
    padding: 0.5416666667rem 0.8333333333rem;
    text-align: center;
    -webkit-transition: .3s;
    transition: .3s
}

@media all and (min-width: 45em) {
    .button__inner {
        padding: 1.2083333333rem 1.3333333333rem
    }
}

@media all and (min-width: 66.25em) {
    .button__inner {
        padding: 0.5416666667rem 1.3333333333rem 0.5416666667rem 0.8333333333rem
    }
}

.button:hover .button__inner,
.button:focus .button__inner {
    background-position: 100% 0
}

.button__image {
    display: inline-block;
    vertical-align: middle;
    width: 1.3333333333rem
}

.button__text {
    display: inline-block;
    padding-left: 0.6666666667rem;
    vertical-align: middle
}

@media all and (min-width: 45em) {
    .button__image {
        display: none;
        width: 2.6666666667rem
    }

    .button__text {
        padding-left: 0
    }
}

@media all and (min-width: 66.25em) {
    .button__image {
        display: inline-block
    }

    .button__text {
        padding-left: 0.6666666667rem
    }
}

.button-shadow {
    background: rgba(76, 61, 109, 0.15);
    -webkit-clip-path: polygon(8px 0%, calc(100% - 8px) 0%, 100% 8px, 100% calc(100% - 8px), calc(100% - 8px) 100%, 8px 100%, 0% calc(100% - 8px), 0% 8px);
    clip-path: polygon(8px 0%, calc(100% - 8px) 0%, 100% 8px, 100% calc(100% - 8px), calc(100% - 8px) 100%, 8px 100%, 0% calc(100% - 8px), 0% 8px);
    height: 100%;
    position: absolute;
    left: 0;
    top: 4px;
    width: 100%
}

.footer {
    display: flex;
    flex-direction: row;
    padding-bottom: 2.6666666667rem;
    width: 100%
}

.ghost {
    align-self: flex-end;
    background: url(../images/polygon.svg);
    background-size: cover;
    display: flex;
    height: 3.6666666667rem;
    justify-content: center;
    margin-left: auto;
    width: 3.6666666667rem
}

.ghost__jacques {
    -ms-grid-row-align: center;
    align-self: center;
    height: 2.6666666667rem;
    width: 2.6666666667rem
}

@media all and (min-width: 40em) {
    .ghost {
        height: 7.3333333333rem;
        width: 7.3333333333rem
    }

    .ghost__jacques {
        height: 5.3333333333rem;
        width: 5.3333333333rem
    }
}

button {

    background: transparent;
    border: none !important;
    font-size:0;
}

.colophon {
    -ms-grid-row-align: center;
    align-self: center;
    flex: 1;
    padding-top: 0.6666666667rem;
    text-align: left;
}

.colophon__link {
    color: #4c3d6d;
    display: block;
    padding: 0 0 0.6666666667rem;
    /* width: 100% */
}

.colophon__link:last-child {
    padding-bottom: 0
}

@media all and (min-width: 40em) {
    .colophon__link {
        display: inline-block;
        min-width: 15%;
        padding: 0 0.6666666667rem;
        width: auto
    }
}

.colophon__text {
    display: inline-block;
    font-size: 0.6666666667rem;
    padding-left: 0.3333333333rem;
    position: relative;
    text-decoration: none;
    vertical-align: middle
}

@media all and (min-width: 40em) {
    .colophon__text {
        display: block;
        font-size: 0.8333333333rem
    }
}

@media all and (min-width: 60em) {
    .colophon__text {
        font-size: 1rem
    }
}

.colophon__text:before,
.colophon__text:after {
    bottom: 5%;
    content: '';
    position: absolute;
    top: 5%;
    -webkit-transition: .3s;
    transition: .3s;
    width: 47%;
    z-index: -1
}

.colophon__text:before {
    background: #71e2a6;
    left: 5%;
    -webkit-transform: translateY(4px);
    transform: translateY(4px)
}

.colophon__text:after {
    background: #e9b921;
    left: 49%;
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px)
}

.colophon__link:hover,
.colophon__link:focus {
    color: #ffffff;
    outline: none
}

.colophon__link:hover .colophon__text:before,
.colophon__link:focus .colophon__text:before {
    background: #4c3d6d;
    -webkit-transform: translateY(0);
    transform: translateY(0)
}

.colophon__link:hover .colophon__text:after,
.colophon__link:focus .colophon__text:after {
    background: #4c3d6d;
    -webkit-transform: translateY(0);
    transform: translateY(0)
}

.colophon__link:active {
    color: #ffffff;
    outline: none;
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s
}

.colophon__link:active .colophon__text:before,
.colophon__link:active .colophon__text:after {
    width: 35%
}

.colophon__link:active .colophon__text:before {
    left: 15%
}

.colophon__image {
    display: inline-block;
    -webkit-transition: .3s;
    transition: .3s;
    vertical-align: middle
}

.colophon__link:hover .colophon__image,
.colophon__link:focus .colophon__image {
    -webkit-transform: translateY(-25%);
    transform: translateY(-25%)
}

@media all and (min-width: 40em) {
    .colophon__image {
        display: block;
        margin: 0 auto 0.6666666667rem
    }
}

@media all and (min-width: 45em) {
    .footer {
        padding-bottom: 0
    }
}

@media all and (min-width: 60em) {
    .colophon {
        margin-left: 7.3333333333rem;
        text-align: center
    }
}

.mask {
    position: relative;
    z-index: 10
}

.mask:before,
.mask:after {
    bottom: 0.8333333333rem;
    content: '';
    position: fixed;
    top: 0.8333333333rem;
    width: 0.6666666667rem
}

.mask:before {
    background: -webkit-gradient(linear, left top, right top, from(#fff), color-stop(50%, #fff), color-stop(50%, #ebebeb), to(#ebebeb));
    background: linear-gradient(90deg, #fff 0%, #fff 50%, #ebebeb 50%, #ebebeb 100%);
    left: 0
}

.mask:after {
    background: -webkit-gradient(linear, right top, left top, from(#fff), color-stop(50%, #fff), color-stop(50%, #ebebeb), to(#ebebeb));
    background: linear-gradient(270deg, #fff 0%, #fff 50%, #ebebeb 50%, #ebebeb 100%);
    right: 0
}

.mask__upper,
.mask__lower {
    height: 0.6666666667rem;
    left: 0.8333333333rem;
    position: fixed;
    right: 0.8333333333rem
}

.mask__upper:before,
.mask__upper:after,
.mask__lower:before,
.mask__lower:after {
    background-size: cover;
    content: '';
    height: 0.8333333333rem;
    position: absolute;
    top: 0;
    width: 0.8333333333rem
}

.mask__upper {
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(50%, #fff), color-stop(50%, #d4d4d4), to(#d4d4d4));
    background: linear-gradient(180deg, #fff 0%, #fff 50%, #d4d4d4 50%, #d4d4d4 100%);
    top: 0
}

.mask__upper:before {
    background-image: url(../images/mask-tl.svg);
    left: -0.8333333333rem
}

.mask__upper:after {
    background-image: url(../images/mask-tr.svg);
    right: -0.8333333333rem
}

.mask__lower {
    background: -webkit-gradient(linear, left bottom, left top, from(#fff), color-stop(50%, #fff), color-stop(50%, #d4d4d4), to(#d4d4d4));
    background: linear-gradient(0deg, #fff 0%, #fff 50%, #d4d4d4 50%, #d4d4d4 100%);
    bottom: 0
}

.mask__lower:before {
    background-image: url(../images/mask-bl.svg);
    bottom: 0;
    left: -0.8333333333rem;
    top: auto
}

.mask__lower:after {
    background-image: url(../images/mask-br.svg);
    bottom: 0;
    right: -0.8333333333rem;
    top: auto
}

@media all and (min-width: 45em) {

    .mask:before,
    .mask:after {
        bottom: 1.6666666667rem;
        top: 1.6666666667rem;
        width: 1.3333333333rem
    }

    .mask__upper,
    .mask__lower {
        height: 1.3333333333rem;
        left: 1.6666666667rem;
        right: 1.6666666667rem
    }

    .mask__upper:before,
    .mask__upper:after,
    .mask__lower:before,
    .mask__lower:after {
        height: 1.6666666667rem;
        width: 1.6666666667rem
    }

    .mask__upper:before {
        left: -1.6666666667rem
    }

    .mask__upper:after {
        right: -1.6666666667rem
    }

    .mask__lower:before {
        left: -1.6666666667rem
    }

    .mask__lower:after {
        right: -1.6666666667rem
    }
}

.cv {
    margin-bottom: 2rem
}

.cv__meta {
    border: 4px solid #4c3d6d;
    -webkit-clip-path: polygon(4px 0%, calc(100% - 4px) 0%, 100% 4px, 100% calc(100% - 4px), calc(100% - 4px) 100%, 4px 100%, 0% calc(100% - 4px), 0% 4px);
    clip-path: polygon(4px 0%, calc(100% - 4px) 0%, 100% 4px, 100% calc(100% - 4px), calc(100% - 4px) 100%, 4px 100%, 0% calc(100% - 4px), 0% 4px);
    font-size: 0.8333333333rem;
    position: relative
}

.cv__meta:before {
    height: 0.1666666667rem;
    width: 100%;
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -0.0833333333rem;
    background: #4c3d6d
}

@media all and (min-width: 26.25em) {
    .cv__meta:before {
        width: 0.1666666667rem;
        height: 100%;
        left: 50%;
        top: 0;
        margin-left: -0.0833333333rem;
        margin-top: 0
    }
}

.cv__timespan,
.cv__job-title {
    padding: 0.3333333333rem;
    text-align: center
}

@media all and (min-width: 26.25em) {

    .cv__timespan,
    .cv__job-title {
        display: inline-block;
        vertical-align: middle;
        width: 50%
    }
}

.cv__skillset {
    margin: 0.6666666667rem 0 0 -0.3333333333rem
}

.cv__skill {
    display: inline-block;
    margin: 0.3333333333rem;
    position: relative
}

.cv__skill-name {
    background: #e9b921;
    -webkit-clip-path: polygon(4px 0%, calc(100% - 4px) 0%, 100% 4px, 100% calc(100% - 4px), calc(100% - 4px) 100%, 4px 100%, 0% calc(100% - 4px), 0% 4px);
    clip-path: polygon(4px 0%, calc(100% - 4px) 0%, 100% 4px, 100% calc(100% - 4px), calc(100% - 4px) 100%, 4px 100%, 0% calc(100% - 4px), 0% 4px);
    color: #4c3d6d;
    display: block;
    font-size: 0.6666666667rem;
    padding: 0.1666666667rem 0.3333333333rem;
    position: relative;
    z-index: 1
}

.cv__skill-shadow {
    background: linear-gradient(135deg, #71e2a6 0%, #e2718d 100%);
    -webkit-clip-path: polygon(4px 0%, calc(100% - 4px) 0%, 100% 4px, 100% calc(100% - 4px), calc(100% - 4px) 100%, 4px 100%, 0% calc(100% - 4px), 0% 4px);
    clip-path: polygon(4px 0%, calc(100% - 4px) 0%, 100% 4px, 100% calc(100% - 4px), calc(100% - 4px) 100%, 4px 100%, 0% calc(100% - 4px), 0% 4px);
    content: '';
    position: absolute;
    left: 0.1666666667rem;
    top: 0.1666666667rem;
    height: 100%;
    width: 100%
}

.cv-sidebar li {
    margin-bottom: 0.6666666667rem
}

.cv .strike {
    position: relative;
    display: inline-block
}

.cv .strike:after {
    background: -webkit-gradient(linear, left top, right top, from(#e2718d), to(#e2718d));
    background: linear-gradient(90deg, #e2718d, #e2718d);
    content: '';
    height: 0.1666666667rem;
    position: absolute;
    top: 50%;
    left: -0.1666666667rem;
    right: -0.1666666667rem;
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg)
}

.image-group {
    margin-bottom: 0.6666666667rem
}

.image-group * {
    display: inline-block;
    vertical-align: middle
}

.image-group *+* {
    margin-left: 0.6666666667rem
}


/* modals */
.modal-open {
    overflow: hidden;
  }
  .modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
  }
  
  
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    overflow: scroll;
    outline: 0;
  }
  
  .modal-dialog {
    position: relative;
    width: auto;
    margin: 0.5rem;
    pointer-events: none;
  }
  .modal.fade .modal-dialog {
    transition: transform 0.3s ease-out;
    transform: translate(0, -50px);
  }
  @media (prefers-reduced-motion: reduce) {
    .modal.fade .modal-dialog {
      transition: none;
    }
  }
  .modal.show .modal-dialog {
    transform: none;
  }
  .modal.modal-static .modal-dialog {
    transform: scale(1.02);
  }
  
  .modal-dialog-scrollable {
    display: flex;
    max-height: calc(100% - 1rem);
  }
  .modal-dialog-scrollable .modal-content {
    max-height: calc(100vh - 1rem);
    overflow: hidden;
  }
  .modal-dialog-scrollable .modal-header,
  .modal-dialog-scrollable .modal-footer {
    flex-shrink: 0;
  }
  .modal-dialog-scrollable .modal-body {
    overflow-y: auto;
  }
  
  .modal-dialog-centered {
    display: flex;
    align-items: center;
    min-height: calc(100% - 1rem);
  }
  .modal-dialog-centered::before {
    display: block;
    height: calc(100vh - 1rem);
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    content: "";
  }
  .modal-dialog-centered.modal-dialog-scrollable {
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }
  .modal-dialog-centered.modal-dialog-scrollable .modal-content {
    max-height: none;
  }
  .modal-dialog-centered.modal-dialog-scrollable::before {
    content: none;
  }
  
  .modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 0 solid rgba(0, 0, 0, 0.2);
    border-radius: 0.75rem;
    outline: 0;
  }
  
  .modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: #000;
  }
  .modal-backdrop.fade {
    opacity: 0;
  }
  .modal-backdrop.show {
    opacity: 0.5;
  }
  
  .modal-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 0 solid #dee2e6;
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
  }
  .modal-header .close {
    padding: 1rem 1rem;
    margin: -1rem -1rem -1rem auto;
  }
  
  .modal-title {
    margin-bottom: 0;
    line-height: 1.5;
  }
  
  .modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 4rem 1rem;
  }

  .modal__text{
      font-family: 'Roboto', sans-serif;
  }
  
  .modal-footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    padding: 4rem 1rem-0.25rem;
    border-top: 0 solid #dee2e6;
    border-bottom-right-radius: 0.75rem;
    border-bottom-left-radius: 0.75rem;
  }
  .modal-footer > * {
    margin: 0.25rem;
  }
  
  .modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll;
  }
  
  @media (min-width: 576px) {
    .modal-dialog {
      max-width: 500px;
      margin: 1.75rem auto;
    }
  
    .modal-dialog-scrollable {
      max-height: calc(100% - 3.5rem);
    }
    .modal-dialog-scrollable .modal-content {
      max-height: calc(100vh - 3.5rem);
    }
  
    .modal-dialog-centered {
      min-height: calc(100% - 3.5rem);
    }
    .modal-dialog-centered::before {
      height: calc(100vh - 3.5rem);
      height: -webkit-min-content;
      height: -moz-min-content;
      height: min-content;
    }
  
    .modal-sm {
      max-width: 300px;
    }
  }
  @media (min-width: 992px) {
    .modal-lg,
  .modal-xl {
      max-width: 800px;
    }
  }
  @media (min-width: 1200px) {
    .modal-xl {
      max-width: 1140px;
    }
  }

  /* portfolio */
.portfolio-item {
    cursor: pointer;
    position: relative;
    display: block;
    max-width: 25rem;
    border-radius: 0.5rem;
    overflow: hidden;
  }
  
  .portfolio-item-caption {
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.2s ease-in-out;
    opacity: 0;
    background-color: #ed8c72;
  }
  .portfolio-item-caption:hover {
    opacity: 1;
  }
  .portfolio-item-caption .portfolio-item-caption-content {
    font-size: 20px;
  }
  
  .portfolio-modal .portfolio-modal-title {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
  @media (min-width: 992px) {
    .portfolio-modal .portfolio-modal-title {
      font-size: 2rem;
      line-height: 2rem;
    }
  }
  .portfolio-modal .close {
    position: absolute;
    z-index: 1;
    right: 1.5rem;
    top: 1rem;
    font-size: 2rem;
    line-height: 3rem;
    color: #343a40;
    opacity: 1;
  }
  
  
  .badge-portfolio{
    background-color: #ed8c72;
  }
  
  .btn-portfolio{
    background-color: #ed8c72;
  }

  .black__bg__link{
      /* background: #4c3d6d; */
      color: #4c3d6d;
      text-decoration: underline;
  }

  .modal__text > .black__bg__link:hover{
      color: #4c3d6d;
      opacity: 0.6;
  }

  .details{
    font-weight: 500;
  }

  .about__me{
    margin: 0.5em 0;
    font-weight: 500;
  }

  .mb-adjust{
    margin-bottom: 1.67em;
  }

  .about__me__sub{
    margin: 1em 0;
    font-weight: 800;
  }

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #eee;
    border-radius: 5px;
    color: #4c3d6d;
    font-size: 25px;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
    
  }

/* Column container */
.row {  
    display: flex;
    flex-wrap: wrap;
  }
  
  /* Create two unequal columns that sits next to each other */
  /* Sidebar/left column */
  .side {
    flex: 30%;
    background-color: rgb(241, 241, 241, 0.5);
    border-radius: 10px;
    padding: 20px;
  }
  
  /* Main column */
  .main {
    flex: 70%;
    background-color: white;
    padding: 20px;
  }
  
  /* Fake image, just for this example */
  /* .fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
  } */

  .title-projects{
    font-size: 1.8em;
  }

  .img-projects{
    width: 80%;
    padding: 10px;
    border-radius: 20px;
  }

  /* Responsive layout - when the screen is less than 1000px wide, make the two columns stack on top of each other instead of next to each other */
@media (max-width: 1000px) {
    .row {
        display: flex;
        flex-direction: column-reverse;
    }
  }

.modal-projects-img{
      display: flex;
      align-items: center;
      justify-content: center;
}

.project-desc{
    text-align: justify;
    text-justify: inter-word;
}

.stack-wrapper{
    margin-bottom: 1em;
}

.projects-buttons-wrapper{
    margin: 1em 0;
}

.projects-buttons{
    border: 4px solid black;
    font-family: 'Roboto', sans-serif;
    color: white;
    padding: 12px 28px;
    border-radius: 5%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    width: 100%;
    transition-duration: 0.4s;
    margin: 0.5em 0;
}

.demo-button{
    background-color: #ffba93;
}

.demo-button:hover {
    background-color: #4c3d6d;
    color: rgb(38, 25, 25);
  }

  .repo-button{
    background-color: #71e2a6;
}

.repo-button:hover {
    background-color: #4c3d6d;
    color: rgb(38, 25, 25);
  }